<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>Cyborg - Awesome HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="stylesheets/fontawesome.css">
    <link rel="stylesheet" href="stylesheets/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="stylesheets/owl.css">
    <link rel="stylesheet" href="stylesheets/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img src="images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                       
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="browse" class="active">Browse</a></li>
                            <li><a href="streams">Streams</a></li>
                            <li><a href="profile">Profile <img src="images/profile-header.jpg" alt=""></a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <!-- ***** Featured Games Start ***** -->
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="featured-games header-text">
                                <div class="heading-section">
                                    <h4><em>Best</em> Educator </h4>
                                </div>
                                <div class="owl-features owl-carousel">
                                    <% for(let i = 0; i< educators.length; i++) {%>
                                        <div class="item">
                                            <div class="thumb">
                                                <img src= <%= educators[i].image %> alt="">
                                                <div class="hover-effect">
                                                    <h6><%= educators[i].totalCategory %> Category</h6>
                                                </div>
                                            </div>
                                            <h4><%= educators[i].name %><br><span><%= educators[i].totalCourse %> Course</span></h4>
                                            <ul>
                                                <li><i class="fa fa-star"></i> <%= educators[i].rating %></li>
                                                <li><i class="fa fa-graduation-cap"></i> <%= educators[i].totalLearner %></li>
                                            </ul>
                                        </div>
                                    <% } %>
                                    
                                   
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="top-downloaded">
                                <div class="heading-section">
                                    <h4><em>Top</em> Category</h4>
                                </div>
                                <ul>
                                    <% for(let i = 0; i < topCategories.length; i++){%>
                                        <li>
                                            <img src= <%= topCategories[i].image %> alt="" class="templatemo-item">
                                            <h4><%= topCategories[i].name %></h4>
                                            <h6><%= topCategories[i].type %></h6>
                                            <span><i class="fa fa-graduation-cap" style="color: #ec6090;"></i> <%= topCategories[i].totalLearner %></span>
                                            <span><i class="fa fa-school" style="color: #ec6090;"></i> <%= topCategories[i].totalEducators %></span>
                                           
                                        </li>
                                    <% } %>
                                    
                                   
                                </ul>
                                <div class="text-button">
                                    <a href="profile">View All Category</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Featured Games End ***** -->

                    <!-- ***** Start Stream Start ***** -->
                    <div class="start-stream">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em>How To Start Your</em> Live Stream Talk</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="item">
                                        <div class="icon">
                                            <img src="images/service-01.jpg" alt=""
                                                style="max-width: 60px; border-radius: 50%;">
                                        </div>
                                        <h4>Go To Your Profile</h4>
                                        <p>You can start from profile to start live stream talk. Discuss with all user
                                            about all topic like technology, design, trending topic, and etc.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="item">
                                        <div class="icon">
                                            <img src="images/service-02.jpg" alt=""
                                                style="max-width: 60px; border-radius: 50%;">
                                        </div>
                                        <h4>Live Stream Button</h4>
                                        <p>Press Button to start youtr live streaming. In this session you can start
                                            about your topic with your friend. </p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="item">
                                        <div class="icon">
                                            <img src="images/service-03.jpg" alt=""
                                                style="max-width: 60px; border-radius: 50%;">
                                        </div>
                                        <h4>You Are Live</h4>
                                        <p>Now you can share your ability. Start discuss, start sharing, learn together,
                                            and grow up together</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <a href="profile">Go To Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Start Stream End ***** -->

                    <!-- ***** Live Stream Start ***** -->
                    <div class="live-stream">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em>Most Popular</em> Live Stream</h4>
                            </div>
                        </div>
                        <div class="row">
                            
                            <% for(let i = 0; i < popularStreams.length ; i++){%>
                                <div class="col-lg-3 col-sm-6">
                             

                                    <div class="item">
                                        <div class="thumb">
                                            <img src=<%= popularStreams[i].image %> alt="">
                                            <div class="hover-effect">
                                                <div class="content">
                                                    <div class="live">
                                                        <a href="#"><%= popularStreams[i].status %></a>
                                                    </div>
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-eye"></i> <%= popularStreams[i].viewed %></a></li>
                                                        <li><a href="#"><i class="fa fa-book"></i> <%= popularStreams[i].category %></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="down-content">
                                            <div class="avatar">
                                                <img src=<%= popularStreams[i].profileImage %> alt=""
                                                    style="max-width: 46px; border-radius: 50%; float: left;">
                                            </div>
                                            <% if(popularStreams[i].verified) { %>
                                                <span><i class="fa fa-check"></i> <%= popularStreams[i].name %></span>
                                            <% } else { %>
                                                <span></i> <%= popularStreams[i].name %></span>

                                            <% } %>
                                            
                                            <h4><%= popularStreams[i].title %></h4>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                            
                            
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="streams">Discover All Streams</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Live Stream End ***** -->

                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2022 Company. All rights reserved.

                    
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="javascripts/isotope.min.js"></script>
    <script src="javascripts/owl-carousel.js"></script>
    <script src="javascripts/tabs.js"></script>
    <script src="javascripts/popup.js"></script>
    <script src="javascripts/custom.js"></script>


</body>

</html>